.navbar {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  background-color: transparent;

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
  }

  img {
      height: '50px';
    }

  &__links {
    display: flex;
    gap: 2.7rem;
    font-size: 1.1rem;
    list-style: none;

    li a {
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #1abc9c;
      }

      &.active {
        color: #278f7a;
      }
    }
  }
}

.navbar__links {
  display: flex;
  align-items: center; // ✅ Ensures vertical alignment
  gap: 2.7rem;
  font-size: 1.1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    a {
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #1abc9c;
      }

      &.active {
        color: #278f7a;
      }
    }

    .logout-btn {
      background-color: black;
      color: white;
      border: none;
      padding: 6px 20px;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #278f7a;
      }
    }
  }
}

.toggle-lang-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #121212;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;

    &::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #1cba73;
  }

  input:checked + .slider::before {
    transform: translateX(24px);
  }
}